.DS_Store
application-fair-data-cube/metadata/mongo/data/_mdb_catalog.wt
application-fair-data-cube/metadata/mongo/data/collection-0-8381693755486785354.wt
application-fair-data-cube/metadata/mongo/data/collection-2-8381693755486785354.wt
application-fair-data-cube/metadata/mongo/data/collection-4-8381693755486785354.wt
application-fair-data-cube/metadata/mongo/data/diagnostic.data/metrics.2025-01-14T09-30-34Z-00000
application-fair-data-cube/metadata/mongo/data/diagnostic.data/metrics.2025-01-15T15-57-19Z-00000
application-fair-data-cube/metadata/mongo/data/diagnostic.data/metrics.2025-02-09T22-33-38Z-00000
application-fair-data-cube/metadata/mongo/data/index-1-8381693755486785354.wt
application-fair-data-cube/metadata/mongo/data/index-3-8381693755486785354.wt
application-fair-data-cube/metadata/mongo/data/index-5-8381693755486785354.wt
application-fair-data-cube/metadata/mongo/data/index-6-8381693755486785354.wt
application-fair-data-cube/metadata/mongo/data/journal/WiredTigerLog.0000000004
application-fair-data-cube/metadata/mongo/data/journal/WiredTigerPreplog.0000000001
application-fair-data-cube/metadata/mongo/data/journal/WiredTigerPreplog.0000000002
application-fair-data-cube/metadata/mongo/data/mongod.lock
application-fair-data-cube/metadata/mongo/data/sizeStorer.wt
application-fair-data-cube/metadata/mongo/data/storage.bson
application-fair-data-cube/metadata/mongo/data/WiredTiger
application-fair-data-cube/metadata/mongo/data/WiredTiger.lock
application-fair-data-cube/metadata/mongo/data/WiredTiger.turtle
application-fair-data-cube/metadata/mongo/data/WiredTiger.wt
application-fair-data-cube/metadata/mongo/data/WiredTigerLAS.wt
application-fair-data-cube/bootstrap/graph-db/graphdb-free-9.7.0-dist.zip
